<!DOCTYPE html>
<html>
<head>
  <title>Scaffold</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//rawgithub.com/neves/9598842/raw/rails-scaffold-bootstrap.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
